In [2]:
import os
import csv
import math

import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing

In [4]:
# source: https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset
diabetes_data = pd.read_csv("./data/diabetes_og.csv")
diabetes_data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [5]:
columns_to_encode = ['gender', 'age', 'smoking_history', 'bmi', 'HbA1c_level', 'blood_glucose_level']
le = preprocessing.LabelEncoder()
for column in columns_to_encode:
    diabetes_data[column] = le.fit_transform(diabetes_data[column])

diabetes_data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,101,0,1,4,1334,11,6,0
1,0,75,0,0,0,1547,11,0,0
2,1,49,0,0,4,1547,5,9,0
3,0,57,0,0,1,1160,4,8,0
4,1,97,1,1,1,829,3,8,0

In [6]:
diabetes_data.to_csv('./data/diabetes_processed.csv', index=False)

In [7]:
diabetes_data.nunique()

gender                    3
age                     102
hypertension              2
heart_disease             2
smoking_history           6
bmi                    4247
HbA1c_level              18
blood_glucose_level      18
diabetes                  2
dtype: int64