In [1]:
import os
import csv
import math
import itertools
import pickle

import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve, train_test_split, KFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("./data/loans_processed.csv")
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,2,1,2,1,3,4,4,1,1,0,0,2710,2306,846,377,384,414,0,494,0,0,0,0,1
1,12,1,2,2,5,1,4,2,2,2,3,2064,1547,2053,2344,2452,2402,0,699,885,946,0,1797,1
2,9,1,2,2,13,2,2,2,2,2,2,10068,6073,5886,6135,6365,6480,1211,1185,885,946,949,3576,0
3,5,1,2,1,16,2,2,2,2,2,2,12731,12968,13353,10118,10391,10482,1674,1674,1079,1043,1018,928,0
4,5,0,2,1,36,1,2,1,2,2,2,4628,3418,11227,8476,7794,7708,1674,7301,5346,4841,647,630,0

In [3]:
# extracted from https://www.kaggle.com/code/gpreda/default-of-credit-card-clients-predictive-models#Predictive-models

X = df.drop(['default.payment.next.month'], axis=1)
y = df['default.payment.next.month']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2018, shuffle=True)

In [4]:
clf = RandomForestClassifier(n_jobs=4,
                             random_state=2018,
                             criterion='gini',
                             n_estimators=100,
                             verbose=False)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accuracy_score(y_test, y_pred)

0.8213333333333334

In [5]:
# Save the model to a file
with open('./model/loans_RF.pkl', 'wb') as f:
    pickle.dump(clf, f)